*.o
*~
.deps
.dirstamp
Makefile
Makefile.in
RUN
aclocal.m4
autom4te.cache
config.log
config.status
configure
docs/doxygen/
lib/chroma_config_internal.h
lib/chroma_config_internal.h.in
lib/libchroma.a
lib/stamp-h1
mainprogs/main/cfgtransf
mainprogs/main/chroma
mainprogs/main/const_hmc
mainprogs/main/hmc
mainprogs/main/purgaug
mainprogs/main/spectrum_s
mainprogs/tests/t_leapfrog
mainprogs/tests/t_lwldslash_array
mainprogs/tests/t_lwldslash_new
mainprogs/tests/t_lwldslash_pab
mainprogs/tests/t_lwldslash_sse
mainprogs/tests/t_meas_wilson_flow
mainprogs/tests/t_mesplq
mainprogs/tests/t_minvert
mainprogs/tests/t_ritz_KS
scripts/test_runners/6n_mpirun_rsh_runner.sh
scripts/test_runners/7n_mpirun_rsh_runner.sh
scripts/test_runners/9q_mpirun_rsh_runner.sh
scripts/test_runners/cobalt_runner.sh
scripts/test_runners/trivial_runner.sh
