[submodule "other_libs/cpp_wilson_dslash"]
	path = other_libs/cpp_wilson_dslash
	url = https://github.com/JeffersonLab/cpp_wilson_dslash.git
[submodule "other_libs/sse_wilson_dslash"]
	path = other_libs/sse_wilson_dslash
	url = https://github.com/JeffersonLab/sse_wilson_dslash.git
[submodule "other_libs/qdp-lapack"]
	path = other_libs/qdp-lapack
	url = https://github.com/JeffersonLab/qdp-lapack.git
[submodule "other_libs/wilsonmg"]
	path = other_libs/wilsonmg
	url = https://github.com/JeffersonLab/wilsonmg.git
